    div{
           p{
            color: $eleventhColor;
            font-size: 2.5rem;
            font-family: 'Sansita Swashed';
            text-align: center;
            }  
           }
        ul{
           width: $w-100;
           list-style-type: none;
           background-color: orange;
           font-size: $textSm;
          }
  
/*gradientes*/

.mati {$breadcrumb-divider: none;}

.encabezado__lema--white{text-align: center; }

.nav-gradiente { background: linear-gradient(to top, orange,yellow); }

.animate{
         animation-name: animateDiv; 
         animation-iteration-count: infinite;
         animation-timing-funsction: ease-in;
         animation-duration: 3.5Ss;
         animation-delay: 3s;}
/*transformaciones*/
.transform:hover { transform: translate(10px,25px);
                   cursor: pointer; }

@keyframes animateDiv {
    0% {width: 100px;}
    o.2s {width: 50px;}
    25% {width: 600px;}
    50% {width: 700px; background-color:$thirdColor ;}
    75%{ width: 300px;}
    100% {width: 800px; background-color:$fourthColor;}
    }
