footer{  ;
      h3{ 
         width: $w-100; 
         color: $eighthColor;
         font-size:$textMd;
         font-weight: 30;
         line-height: 2.4rem
        } 
   div{ 
      p {  
      font-size: $textMd;
      color:$ninthColor;
   }
   }  
 }

              