form{ 
      fieldset{ 
               legend{ 
                      color: $tenthColor ; 
                      font-size: $textXXl;
                      ext-decoration: underline;
                      }
                      label {
                            color: $ninthColor ; 
                            font-size:$textXl; 
                            } 
                            input{
                                 width: $w-100;
                                 font-size: $textMd;

                                 }
                                select{
                                      width: $w-100;
                                      font-size: $textMd;
                                      }
                                }
                        label {
                            color: $ninthColor ; 
                            font-size:$textXl; 
                            } 
                        textarea{
                                 width: $w-100;
                                 font-size: $textMd;
                                } 
                                input{
                                 width: $w-100;
                                 font-size: $textMd;

                                 }
                        } 
             


                    
                    
                    


  