main{ 
     section{ 
             h1{ 
                background-color: $twelfhhColot; 
                color: $secondColor;
                font-size: $textXl;
                width: $w-100;
               }
              article{  
                      h1{ 
                        color: $tenthColor;
                        font-size: 10vw;
                        font-weight: 10vw;
                        line-height: 10vw;
                        text-align: center;
                        width:$w-100-,
                        
                       } 
                    }
            }
    }

 .contactanos__box--gray{ 
                         background-color: $sevenColor;
                         width: $w-100;
                         overflow: visible;
                         margin: auto;
                         padding: 10vw;
                         box-sizing: border-box;
                         border-style: solid;
                         border-width: 5vw;
                         border-color: white;
                        }
 
 .ref_box--gray{ 
     @extend .contactanos__box--gray;
     margin:1vw;
     padding:1vw;
     border-width: 1vh;
}

.ref_box{ 
    @extend .contactanos__box--gray;
    background-color: rgba(123, 118, 227, 0.5);
    border-width: 2vh; 
}
.contactanos__titulo--xxl{ 
                          width: $w-100;
                          font-size: $textSm;
                         }

.contacto {
          width: $w-500;           
          color: map-get($map:$paleta,$key:'tres');
          font-family: 'Roboto', sans-serif;
          }

.transition:hover{
                   width: $w-500;
                   background-color: map-get($map:$paleta,$key:'cuatro');
                   color: map-get($map:$paleta,$key:'cinco');
                   transition:all;
                 }

             /*