main{ 
     section{ 
             h1{  
                
                color: $secondColor;
                font-size: $textMd;
                width: $w-100;
               }
              article{  
                      h1{ 
                        color: $tenthColor;
                        font-size: 3rem;
                        font-weight: 10vw;
                        line-height: 10vw;
                        text-align: center;
                        width:$w-100;
                        
                       } 
                    }
            }
    }

 .contactanos__box--gray{ 
                         background-color: $sevenColor;
                         width: $w-100;
                         overflow: visible;
                         margin: auto;
                         padding: 10vw;
                         box-sizing: border-box;
                         border-style: solid;
                         border-width: 5vw;
                         border-color: white;
                        }
 
.contactanos__titulo--xxl{ 
                          width: $w-100;
                          font-size: $textSm;
                         }

.contacto {
          width: $w-500;           
          color: $fifthColor;
          font-family: 'Roboto', sans-serif;
          }

.transition:hover{
                   width: $w-500;
                   background-color: rgba(124, 89, 50, 0.5);
                   color: $tenthColor
                
                 }

             